@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Outfit:wght@300;400;500;600;700;800&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Outfit', sans-serif; */
body {
  background-image: url(./bg.jpg);
  background-size: cover;
}

header img {
  text-align: left;
  width: 20%;
  padding: 60px;
}
main {
  text-align: center;
  color: #e7e7eb;
  font-family: "Inter", sans-serif;
}
main h1 {
  font-size: 50px;
  margin: 0;
}
main h3 {
  margin: 0;
  font-size: 20px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.donut-chart {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 2rem;
  border-radius: 100%;
  margin-top: 60px;
}
p.center {
  background: #394264;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}

.portion-block {
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;
}
.circle {
  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;
}

#part1 {
  transform: rotate(0deg);
}

#part1 .circle {
  background-color: #e64c65;
  /*transform: rotate(76deg);*/
  animation: first 1s 1 forwards;
}

#part2 {
  transform: rotate(100deg);
}
#part2 .circle {
  background-color: #11a8ab;
  animation: second 1s 1 forwards 1s;
}
#part3 {
  transform: rotate(250deg);
}
#part3 .circle {
  background-color: #4fc4f6;
  animation: third 0.5s 1 forwards 2s;
}

/* Animation */
@keyframes first {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(100deg);
  }
}

@keyframes second {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(150deg);
  }
}

@keyframes third {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(111deg);
  }
}

footer {
  text-align: center;
}
button {
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  background-color: transparent;
  border-color: white;
  font-family: "Outfit", sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin-top: 70px;
  cursor: pointer;
}

button:hover {
  background-color: #00ffff;
  color: black;
  box-shadow: #00ffff 0px 0px 30px 0px, #00ffff 0px 0px 0px 1px;
  border-color: transparent;
}
