@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Outfit:wght@300;400;500;600;700;800&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Outfit', sans-serif; */
body {
  background-image: url(./bg.jpg);
  background-size: cover;
}

header img {
  text-align: left;
  width: 15%;
  padding: 60px;
}
main {
  text-align: center;
}
h1 {
  font-size: 50px;
  margin: 0;
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  text-align: center;
}
p {
  margin: 0;
  font-size: 20px;
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  text-align: center;
  font-size: 1.7em;
  font-weight: lighter;
}
button {
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  background-color: transparent;
  border-color: white;
  font-family: "Outfit", sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin-top: 70px;
  cursor: pointer;
}

button:hover {
  background-color: #00ffff;
  color: black;
  box-shadow: #00ffff 0px 0px 30px 0px, #00ffff 0px 0px 0px 1px;
  border-color: transparent;
}

footer {
  text-align: center;
}

/* #myChart {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
} */
#contdomande {
  display: inline-block;
  height: 500px;
  margin-left: 250px;
  margin-top: 30px;
}
