@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Outfit:wght@300;400;500;600;700;800&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Outfit', sans-serif; */
body {
  background-image: url(./bg.jpg);
  background-size: cover;
}

header img {
  text-align: left;
  width: 15%;
  padding: 60px;
}
main {
  text-align: center;
  color: #e7e7eb;
  font-family: "Inter", sans-serif;
}
main h1 {
  font-size: 50px;
  margin: 0;
}
main h3 {
  margin: 0;
  font-size: 20px;
}
button {
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: transparent;
  border-color: white;
  font-family: "Outfit", sans-serif;
  font-size: 25px;
}
